.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.app {
    width: 60%;
    margin: auto;
    color: white;
    height: min-content;
    padding-bottom: 5%;
}

.title {
    text-align: center;
}

.main-content {
    padding: 0 5%;
}

.disclaimer-container {
    padding: 5% 5% 0 5%;
}

.no-results {
    padding: 0 5%;
    color: grey;
    font-size: .8em;
}

@media only screen and (max-width: 880px) {
    .app {
        width: 90%;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #727272;
    border: 1px solid #555;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: 2px solid #555;
}

li:last-child {
    border-bottom: none;
}

.VaccineTitle {
    background-color: #000000;
    color: white;
    margin-bottom: 5px;
    width: 200px;
    text-align: center;
    height: 30px;
    padding: 5px 16px;
}

li a.Vaccine:hover:not(.active) {
    background-color: rgb(121, 121, 121);
    color: white;
}

li a.Vaccine:focus{
    background-color: rgb(189, 188, 188);
}

.SentimentTitle{
    background-color: #000000;
    color: white;
    margin-bottom: -30px;
    width: 200px;
    text-align: center;
    height: 30px;
    padding: 5px 16px;
    margin-top: 50px;
}

label{
    padding-left: 10px;
    font-size: 16px;
}

